# ignoring .vscode/ directory
.vscode/

# ignoring binaries
bin/airplane_simulation

# ingoring object files
build/captain.o
build/common.o
build/dispatcher.o
build/main.o
build/passenger.o
build/utilities.o